
        <form method="Post" action=""> 
            <label>Nome:</label>
            <input type="text" name="Nome">
            <p></p>
            <label>Idade:</label>
            <input type="number" name="Idade">
            <p></p>
            <button type="submit">
                Cadastrar
            </button>
        </form>